@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* Medical Dark */
  color: #e2e8f0;
  margin: 0;
  overflow: hidden; /* Prevent scrollbars in full screen app */
}